<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Agent screen</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'><link rel="stylesheet" href="./style_agent.css">
</head>
<body>
<body>
  <div class="container">
    <div class="row">
      <nav class="menu">
        <ul class="items">
          <li class="item">
            <i class="fa fa-home" aria-hidden="true"></i>
          </li>
          <li class="item item-active">
            <i class="fa fa-commenting" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-user" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </li>
          
          
          
        </ul>
      </nav>

      <section class="discussions">
        <div class="discussion search">
          <div class="searchbar">
          <h5><strong>Conversations</strong></h5>
            
          </div>
        </div>
        <div class="discussion message-active">
          <div class="b">
            <form>
              <input type="checkbox" name="message1">
            </form>
          </div>
          <div class="desc-contact">
            <p class="name">Amit RG</p>
            <p class="message">Order before 8pm</p>
          </div>
          <div class="timer">12 sec</div>
        </div>

        <div class="discussion">
          <div class="b">
            <form>
              <input type="checkbox" name="message1">
            </form>
          </div>
          <div class="desc-contact">
            <p class="name">Hiten Saxena</p>
            <p class="message">Meeting at 6pm?</p>
          </div>
          <div class="timer">3 min</div>
        </div>

        <div class="discussion">
          
        </div>

        <div class="discussion">
          
        </div>

        <div class="discussion">
          
        </div>

        <div class="discussion">
          

         <div class="discussion">
          
        </div>
      </section>
      <section class="chat">
        <div class="header-chat">
          <i class="icon fa fa-user-o" aria-hidden="true"></i>
          <p class="name">Amit RG</p>
          <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
        </div>
        <div class="messages-chat">
          <div class="message">
            <div class="photo" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBgRKEIhJQ1Ic5OIQiDP4vw1MZmSbbDGFJtw&usqp=CAU);">
              <div class="online"></div>
            </div>
            <p class="text"> Is it in stock right now? </p>
          </div>
          <div class="message text-only">
          </div>
          <p class="time"> 14h58</p>
          <div class="message text-only">
            <div class="response">
              <p class="text"> Yes we have 3 in stock</p>
            </div>
          </div>
          <div class="message text-only">
            <div class="response">
              <p class="text"> Order before 8pm</p>
            </div>
          </div>
          
        </div>
        <div class="footer-chat">
          <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
          <input type="text" class="write-message" placeholder="Type your message here"></input>
          <i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
        </div>

        
      </section>
      
     

    </div>
    



    
  </div>
  <section class="discussions z">
    <div class="discussion search">
       
          <div class="photo" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBgRKEIhJQ1Ic5OIQiDP4vw1MZmSbbDGFJtw&usqp=CAU);">
            <div class="online"></div><br>
           

        
      </div>
    </div>
    <div class="discussion message-active">
      <div class="b">
        
      </div>
      <div class="desc-contact">
        <p class="name">Amit RG</p>
        <p class="message">Phone: 1234567809 | Email: amit@gmail.com</p>
      </div>
    </div>

    <div class="discussion">
      <div class="b">
       
      </div>
      <div class="desc-contact">
        <p class="name y"><i class="fa-solid fa-phone"></i> Call</p>
      </div>
    </div>

    <div class="discussion">
      <div class="b">
       
      </div>
      <div class="desc-contact">
        <p class="name y"><i class="fa-solid fa-user"></i> Profile</p>
      </div>
    </div>

    <div class="discussion">
    </div>

    <div class="discussion">
      
    </div>

    <div class="discussion">
      
    </div>

    <div class="discussion">
      

     <div class="discussion">
      
    </div>
  </section>

  


  

  <script  src="./script.js"></script>
  <script src="https://kit.fontawesome.com/f68b1f8f63.js" crossorigin="anonymous"></script>

</body>
</html>
